/***** General Styles *******/
html {
    background-color: #35393C;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #F7F7FF;
}

a:visited {

    color: #E74B72;
}

a:hover {
    
    font-weight: bold;
    color: #A594F9;
    
}

div {
    color: #FFFFFF;

}

form {
    padding: 20px 0;
}

input {
    display: block;
    width: 100%;
    margin: 5px auto;
}

label {
    color: white;
    height: auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
/***** Header Styles ******/

header {
    width: 100%;
    text-align: center;
    background: rgb(131,58,180);
    background: linear-gradient(153deg, rgba(131,58,180,1) 0%, rgba(231,75,114,1) 73%);
}

.nav {
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
   
}

ul {
    text-align: center;
    width: 100%;
    margin: auto;
    padding-inline-start: 0px;
    align-content: center;
}

li {
    list-style-type: none;
    width: 75%;
    display: block;
    margin: 5px auto;
    
    
    background-color: #241E4E;
    border-radius: 15px; 
  
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    
}

/***** Body Styles *****/

.description {
   padding-top: 25px;
}

/***** Footer Styles *****/

/***** Layout *****/

.wrapper {
    width: 90%;
    margin: 0 auto;

}

/***** Clearfix *****/
.group:after {
    content: "";
    display: table;
    clear: both;
  }

