/***** General Styles *******/
html {
    background-color: #35393C;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #F7F7FF;
}

a:visited {
    color: #E74B72;
}


a:hover {
    
    font-weight: bold;
    color: #A594F9;
    
}



div {
    color: #FFFFFF;

}

form {
   padding-top: 15px;
}

h1 {
    color: #FFFFFF;
    font-size: 2em;
    text-align: center;
    display: block;
    margin: 0px auto;
    width: 100%;
}

h2 {
    color: #FFFFFF;
    font-size: 1.5em;
    text-align: left;
    display: block;
    margin: 0px auto;
    width: 100%;
}

input {
    display: block;
    width: 35%;
    margin: 5px 0px;
}

label {
    color: white;
    height: auto;
    width: 100%;


}

li {
    color: #FFFFFF;
    margin: 10px 0px;
    list-style-type: none;
}


/***** Header Styles ******/

header {
    width: 100%;
    text-align: center;
    background: rgb(131,58,180);
    background: linear-gradient(153deg, rgba(131,58,180,1) 0%, rgba(231,75,114,1) 73%);
}

.nav {
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
   
}

ul {
    text-align: center;
    width: 100%;
    margin: auto;
    padding-inline-start: 0px;
    align-content: center;
    box-shadow: 0px 8px 5px #1d2022;
    border-radius: 3px;
}

.skillsCard {
    padding: 2.5px 0px 2.5px 0px;
    box-shadow: 0px 0px 2px #000000, 6px 6px 2px #000000;
    border: 1px solid #E74B72;
}


header li {
    list-style-type: none;
    width: 75%;
    display: block;
    margin: 5px auto;
    font-size: 1em;
    
    
    background-color: #241E4E;
    border-radius: 15px; 
  
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    
}

/***** Body Styles *****/

.description {
   padding-top: 25px;
}

#skills {
    padding-top: 30px;
}

#support,
#development {
    margin: 20px 0px;
}
/**** Contact Form Styles *****/

#message {
   display: block;
   overflow: hidden; 
   width: 90%; 
   min-height: 150px;
   margin-top: 5px;
   resize: vertical;
   min-width: 300px;
   max-width: 600px;
}

body ul {
    margin-bottom: 15px;
}

.contact-form {
    display: block;
    margin: 0 auto;
    width: 90%;
}


/***** Footer Styles *****/

/***** Layout *****/

.wrapper {
    width: 85%;
    margin: 0 auto;

}

/***** Clearfix *****/
.group:after {
    content: "";
    display: table;
    clear: both;
  }

